<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>LIVE Voting</h1>
      <div data-ng-repeat="nominee in eventVote.finalists">
        <div class="pp-form" data-ng-class="{'pp-selected-nominee': eventVote.userFinalistSelection(nominee) }">
          <h3><a href data-ng-click="eventVote.selectNominee(nominee)"><span data-ng-if="eventVote.userFinalistSelection(nominee)" class="glyphicon glyphicon-check"></span> {{ nominee.display_name }}</a></h3>
          <div>
            <a data-ng-if="eventVote.canVoteForFinalist()" class="pp-learn-more text-center btn btn-primary btn-lg" href data-ng-click="eventVote.confirmFinalistVote(nominee); $event.stopPropagation()"><span class="glyphicon glyphicon-check"></span> Vote for {{ nominee.display_name }}</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div data-sponsor-list=""></div>
  </div>
</div>

<div class="modal fade" id="confirmEventVote" tabindex="-1" role="dialog">',
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header pp-modal-header bg-success">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Vote for {{ eventVote.confirmNominee.display_name }}</h4>
      </div>
      <div class="modal-body">
        <div class="lead">{{ eventVote.confirmNominee.display_name }}</div>
        <p>Once your vote has been placed, you will not be able to change it.</p>
        <br />
        <a class="btn btn-primary btn-lg" href data-ng-click="eventVote.saveEventVote()"><span class="glyphicon glyphicon-check"></span> Cast Your Vote!</a>
        <button type="button" data-dismiss="modal" class="btn btn-default btn-lg">Cancel</a>
      </div>
    </div>
  </div>
</div>
