<div data-contest-page="">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="pp-media-body">
        <p>As a judge, your job is to rank the top {{ judging.MAX_RANKS }} contestants. Click on the <span class="pp-rank-btn-in-text-container"><span title="click circle icon to rank" class="pp-rank-btn-in-text">&nbsp;</span></span> to set or to change a rank. Individual rankings will remain secret. You may optionally provide a comment to any contestant by selecting the <span title="click chat icon to comment" class="glyphicon glyphicon-comment"></span>.</p>
      </div>
      <div class="text-muted pull-right pp-auto-save"><small>{{ judging.autoSaveMessage || '&nbsp;' }}</small></div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" data-ng-repeat="nominee in judging.nominees">
      <div class="dropdown pp-rank-row">
        <button title="Click to rank contestant" data-ng-click="judging.selectNominee(nominee, $event)" data-ng-mouseleave="judging.endHoverNominee(nominee, $event)" data-ng-mouseover="judging.hoverNominee(nominee, $event)" data-ng-class="{'btn-warning': nominee.rank, 'disabled': judging.isDisabled(nominee)}" class="btn btn-default pp-rank-btn" data-toggle="dropdown">
          <span data-ng-show="nominee.hoverRank" class="pp-rank">{{ nominee.hoverRank }}<sup>{{ judging.superscript(nominee.hoverRank) }}</sup></span>
          <span data-ng-show="nominee.rank" class="pp-rank">{{ nominee.rank }}<sup>{{ judging.superscript(nominee.rank) }}</sup></span>
          <span data-ng-hide="nominee.rank || nominee.hoverRank">&nbsp;</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li data-ng-repeat="rank in judging.ranks">
            <a href data-ng-click="judging.selectRank(nominee, rank)" class="pp-rank-item">{{ rank.text }}</a>
          </li>
        </ul>
        <span class="pp-nominee-name"><a data-ng-href="{{ judging.nomineeURL(nominee) }}">{{ nominee.display_name }}</a>&nbsp;&nbsp;&nbsp;<span title="Click to provide a comment to contestant" class="pp-comment-icon"><a href data-ng-click="judging.showComment(nominee)"><span data-ng-class="{'pp-has-comment': judging.hasComment(nominee)}" class="glyphicon glyphicon-comment"></span></a></span></span>
      </div>
    </div>
  </div>
  <!-- put a spacer so the last drop-down menu doesn't trigger a scollbar -->
  <div style="min-height:38ex"></div>
</div>

<div class="modal fade" id="commentEditor" tabindex="-1" role="dialog">',
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header pp-modal-header bg-success">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">{{ judging.commentNominee.display_name }}</h4>
      </div>
      <div class="modal-body">
        <p>Comments will be provided anonymously to the contestant at the end of the contest.</p>
        <form>
          <textarea class="form-control" rows="5" placeholder="Comment" data-ng-model="judging.comment"></textarea>
          <div>&nbsp;</div>
          <button type="button" data-ng-click="judging.saveComment()" class="col-sm-4 col-xs-10 btn btn-primary pull-right">Save</button>
        </form>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
