<div class="pp-jumbo-bg"></div>
<div class="container" style="min-height: 380px">
  <div class="row">
    <div class="col-sm-12">
      <div class="pp-logo">
      </div>
      <div class="pp-jumbo-text">
        <h1>Doing Well while Doing Good!</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <div data-section-nav=""></div>
      <div data-ng-repeat="nominee in nomineeList.nominees">
        <div class="pp-form pp-nominee-summary-box" data-ng-click="nomineeList.selectNominee(nominee)">
          <div class="pull-right" style="position: relative; margin: 1ex;">
              <img class="pp-video-thumbnail" alt="{{ nominee.display_name }}" data-ng-src="https://img.youtube.com/vi/{{ nominee.youtube_code }}/mqdefault.jpg">
              <img class="pp-video-play" alt="Play" src="/static/img/play.png" data-ng-click="nomineeList.selectNominee(nominee, true)">
          </div>
          <h3>{{ nominee.display_name }}</h3>
          {{ nominee.nominee_summary }}
          <div>
            <a class="pp-learn-more text-center btn btn-primary btn-lg" href data-ng-click="nomineeList.selectNominee(nominee)">Learn More</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div data-sponsor-list=""></div>
  </div>
</div>
