<div data-contest-page="">
  <p data-ng-if="nomineeList.contestState.isNominating()"><a href="#/enter-the-challenge">Learn how to enter the Esprit Venture Challenge.</a></p>
  <div data-ng-repeat="nominee in nomineeList.nominees">
    <div class="pp-form pp-nominee-summary-box" data-ng-click="nomineeList.selectNominee(nominee)" data-ng-class="{'pp-selected-nominee': nomineeList.userSelection(nominee) }">
      <div class="pull-right pp-nominee-img">
        <img class="pp-video-thumbnail" alt="{{ nominee.display_name }}" data-ng-src="https://img.youtube.com/vi/{{ nominee.youtube_code }}/mqdefault.jpg">
        <img class="pp-video-play" alt="Play" src="/static/img/play.png" data-ng-click="nomineeList.selectNominee(nominee, true)">
      </div>
      <h3><span data-ng-if="nomineeList.userSelection(nominee)" class="glyphicon glyphicon-check"></span> {{ nominee.display_name }}</h3>
      <div class="pp-nominee-text">{{ nominee.nominee_summary }}</div>
      <div>
        <a class="pp-learn-more text-center btn btn-primary btn-lg" href data-ng-click="nomineeList.selectNominee(nominee)">Learn More</a>
        <a data-ng-if="nomineeList.canVote()" class="pp-learn-more text-center btn btn-primary btn-lg" href data-ng-click="nomineeList.castVote(nominee); $event.stopPropagation()"><span class="glyphicon glyphicon-check"></span> Cast Your Vote!</a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="pp-sponsor-copera"><a href="https://www.copera.org" target="_blank"><img src="/static/img/sponsor-copera-400x136.png" /></a></div>
  <div data-login-modal="loginAndVoteModal" data-login-text="Log in and Vote!" data-next-url="nominee.voteUrl"></div>
</div>
