{% extends base_template %}
{%- import "layout/macros.html" as macros %}

{%- macro radio_buttons(field) %}
  <div class="btn-group btn-group-justified" data-toggle="buttons">
  {%- for option in field %}
    <label class="btn btn-default {%- if option.checked %} active{% endif %}">
      {{- option }}{{ option.label.text.replace(' ', '<br />') | safe }}
    </label>
  {%- endfor %}
  </div>
{%- endmacro %}

{%- block subtitle %}Admin Edit Nominate{% endblock %}
{%- block sponsor_list %}{% endblock %}
{% block contest_content_class %}col-sm-offset-1 col-sm-8{% endblock %}
{%- block contest_content %}
  <div class="pp-form">
    <form method="POST" action="{{ nominee.format_uri('admin-edit-nominee') }}">
      <h1>Nominate a Company</h1>
      {{- macros.form_field(form.display_name) }}
      {{- macros.form_field(form.url) }}
      {{- form.category.label }}
      {{- radio_buttons(form.category) }}
      <br />
      {{- macros.form_field(form.is_public) }}
      <div class="pull-right">
        {{- macros.submit_button('Update Nominee') }}
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
{%- endblock %}
