{% extends 'layout/base.html' %}

{%- macro twitter_link() %}
  <a rel="nofollow" class="pp-twitter-link" href="http://www.twitter.com/NextUpColorado">@NextUpColorado</a>
{%- endmacro %}

{%- block bootstrap_css %}
  <link href="/static/css/bootstrap-nextup-3.3.2.min.css?20150406" rel="stylesheet">
{%- endblock %}

{%- block title %}
  {%- block subtitle %}{% endblock %} - {{ contest.display_name }}
{%- endblock %}

{%- block social_meta %}
  {%- if nominee and nextup_icon_url %}
  <meta property="og:image" content="{{ nextup_icon_url }}" />
  <link rel="canonical" href="{{ nominee_url }}">
  <meta property="og:url" content="{{ nominee_url }}">
  <meta property="og:title" content="{{ nominee_tweet }} - {{ contest.display_name }}">
  {%- endif %}
{%- endblock %}

{%- block extra_nav_items %}
<div class="pp-nav-text navbar-left">Follow Us on Twitter: {{ twitter_link() }}</div>
{%- endblock %}

{%- block logged_in_nav %}
  {%- if contest.is_admin() %}
    <li><a class="pp-nav-item pp-nav-important" href="{{ contest.format_uri('admin-review-nominees') }}">Admin</a>
  {%- endif %}
{%- endblock %}

{%- block css %}
  {{- super() }}
  <link href="/static/css/nextup.css?20150212-1" rel="stylesheet">
{%- endblock %}

{%- block jumbo_header %}
  <div class="container">
    <div class="row">
      <div class="pp-nextup-logo">
        <a href="{{ contest.format_uri() }}"><img src="/static/img/nextup-logo.jpg" alt="Next Up"></a>
      </div>
    </div>
  </div>
{% endblock %}

{%- block content %}
  {%- block contest_header %}{% endblock %}
  <div class="{% block contest_content_class %}col-sm-8{% endblock %}">
    {%- block contest_content %}{% endblock %}
  </div>
  {%- block sponsor_list %}
    <div class="col-sm-3 col-sm-offset-1 col-xs-12 pp-sidebar">
      <div class="pp-nav-text"><img src="/static/img/twitter-38x31.png" alt="Twitter">{{ twitter_link() }}</div>
      <div class="pp-bottom-border"></div>
      <h1>Sponsors</h1>
      <div class="row">
        {%- for sponsor in contest.get_sponsors(randomize=False) %}
        <div class="col-sm-12 col-xs-6">
          <div class="pp-sidebar-module pp-sidebar-module-inset pp-sponsor-sidebar pp-sponsor-images">
            <a href="{{ sponsor.website }}" target="_blank">
              <img style="width: 100%; max-width: 120px" src="{{ sponsor.format_uri('sponsor_logo') }}" alt="{{ sponsor.display_name }}" /></a>
          </div>
        </div>
        {%- endfor %}
      </div>
    </div>
  {%- endblock %}
{%- endblock %}
